
<div align="center">
<h1>Plat</h1>

    <table align="center" border="1">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ plat.nom }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ plat.prix }}</td>
            </tr>
            <tr>
                <th>Dispo</th>
                <td> {{plat.dispo}} </td>
            </tr>
            <tr>
                <th>Type</th>
                <td> {{plat.type}} </td>
            </tr>
        </tbody>
    </table>

   <a href="{{ path('menu') }}">back to menu</a>
</div>